<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="h-main">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="h-right">
            <button class="h-addBook" onclick="openPopup('Add New Book')" type="button">
                <p>Add new book</p>
                <i class="fa-solid fa-plus"></i>
            </button>

            <div class="h-sort">
                <form action="/" method="get">
                    <select name="sort">
                        <option value="title">Sort by Title</option>
                        <option value="rating">Sort by Rating</option>
                        <option value="date_read">Sort by Recency</option>
                    </select>
                    <button type="submit">sort</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>