<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="bookPopup" class="popup-overlay">
        <div class="popup-content">
            <h2 id="popupTitle">Add New Book</h2>
            <form id="bookForm" method="POST" action="/add">
            <input type="hidden" id="bookId" name="id"> 
            
            <label>Title:</label>
            <input type="text" name="title" required>

            <label>Author:</label>
            <input type="text" name="author" required>

            <label>Data of completion:</label>
            <input type="date" name="DOC">

            <label>Summary:</label>
            <textarea name="summary" rows="4"></textarea>

            <label>Rating:</label>
            <input type="number" name="rating" step="0.1" min="0" max="10">

            <button type="submit">Save</button>
            <button type="button" id="cancelPopup">Cancel</button>
            </form>
        </div>
    </div>
</body>
</html>